.main {
    color: black;
    h1 {
        text-align: center;
    }
    .title {
        display: flex;
        justify-content: flex-end;

    }
    .content {
        margin: 0 auto;
        padding: 20px;
    }


}