.avtocomplite {
  width: 200px
}


.mainWrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.wrapperBtn {

  display: flex;
  justify-content: center;
  align-items: center;

}

.itemWrapper {
  min-height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}